<div id="aside">
    <aside>
        <a href="#skills">
                <button class="floating">Hackathons</button>
            </a>
            <br>
            <a href="#about">
                <button class="floating">Projects</button>
            </a>
            <br>
            <a href="#infos">
                <button class="floating">About</button>
            </a>
            <br>
            <button class="floating">Resume</button>
            <br>
            <a href="#footer">
            <button class="floating">Contact</button>
            </a>
    </aside>
</div>