{{ "<!-- Hero -->" | safeHTML}}
<section id="header">
  <header class="major 1">
    <h1>{{ with .Site.Params.hero.title }} {{ . | markdownify }} {{ end }}
    <br>&#9856; &#9814; &#9860;</h1>
    <p>{{ with .Site.Params.hero.description }} {{ . | markdownify }} {{ end }}</p>
    <i>[This site is currently under construction.]</i>
  </header>
  <div class="container">
    <ul class="actions">
      <li><a href="#skills" class="button special scrolly">{{ with .Site.Params.hero.buttontext }} {{ . | markdownify }} {{ end }}</a></li>
    </ul>
  </div>
</section>
